body{
    border-left: 1px solid whitesmoke;
}
.edit-form {
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3em 12em;
    box-shadow: 0 0 2px;
    border-radius: 2em;
}
.input {
    padding: 9px 12px;
    width: 100%;
    border: 1px solid #1da1f2;
    font-size: 15px;
    outline: none;
    font-weight: bold;
}
.save {
    padding: 0.5em 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #1da1f2;
    border: none;
    color: white;
    transition: 0.5s;
    border-radius: 20px;
}
.save:hover {
    background-color: white;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}
.message-div {
    position: absolute;
    left: 50%;
    top: 3%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #1da1f2;
    color: white;
    padding: 15px;
    z-index: 999;
    text-align: center;
}
.del{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.delete{
    background-color: rgb(255, 53, 53);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.7;
}
