@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.second_side{
    padding: 10px 0;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    width: 50%;
}
.s-container{
    padding: 20px 0;
}
.header-container{
    margin: 0 20px;
    margin-top: 10px;
    position: sticky;
    top: 6px;
    z-index: 1;
    box-shadow: 0px 5px 5px whitesmoke;
    background-color: white;
    border-radius: 20px;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 2% 5%;
   
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}
.header a:hover{
    opacity: 0.7;
}

.post-tweet{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    padding: 4% 2%;
    /* border-top: 1px solid whitesmoke; */
    border-bottom: 1px solid whitesmoke;
}

.inp{
    width: 200%;
    height: 10vh;
    border: none;
    outline: none;
    font-size: large;
    background: transparent;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
*::placeholder{
    font-weight: bolder;
    font-size: large;
}
.send-tweet{
    position: relative;
    left: 190px;
    align-self: flex-end;
    width: 15%;
    color: white;
    cursor: pointer;
    background-color: #1DA1F2;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}
.lol{
    margin-left: 15px;
    cursor: pointer;
}

.view-tweet{
    padding: 2% 4%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    width: 100%;
    transition: 0.5ss;
}
.view-tweet:hover{
    background-color: rgb(231, 227, 227);
}
.prof{
    display: flex;
    gap: 12px;
    align-items: center;
}
.id{
    display: flex;
    position: relative;
    gap: 12px;
    align-items: center;
}
.menue{
    position: absolute;
    left: 510px;
    cursor: pointer;
}

.reactions{
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin-top: 1%;
    padding: 6px 0;
    list-style: none;
    border-bottom: 1px solid whitesmoke;

}
.image-post{
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .img-upload{
      width: 350px;
      height: 300px;
      border-radius: 15px;
  }
.l-react{
    cursor: pointer;
    width: 25px;
    height: 15px;
}

.third-container{
    width: 30%;
}
.search-head{
    display: flex;
    gap: 5px;
    border-radius: 20px;
    background-color: whitesmoke;
    margin: 10px;
    align-items: center;
    padding: 10px 2px 10px 10px;
}
.search{
    background: transparent;
    border: none;
    outline: none;
}
.search-inp{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 2px 15px;
    font-size: large;
}
.trending{
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 10px;
    padding: 20px 20px 2px 20px;
    text-align: start;
}
.trend{
    margin: 6% 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.trending .trending-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.others{
    position: sticky;
    top: 8px;
    background-color: whitesmoke;
    margin-top: 8%;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    text-align: start;
}
.follow{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow-id{
    display: flex;
    align-items: center;
    gap: 10px;
}
.follow-btn{
    color: white;
    background-color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
}
.f-text{
    display: flex;
    flex-direction: column;
}
.message-div{
    display: flex;
    justify-content: center;
    background-color: #1DA1F2;
    color: white;
    padding: 15px;
    
}
.user-search{
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #1DA1F2;
    background: transparent;
    border-radius: 15px;
    outline: none;
    margin-bottom: 10px;
}
footer{
    position: sticky;
    top: 20px;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(165, 165, 165);
}
.footer-cnt{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    cursor: pointer;
    color: rgb(165, 165, 165);
}
