.others {
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 20px;
    text-align: start;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.follow-id {
    display: flex;
    align-items: center;
    gap: 10px;
}

.follow-btn {
    color: white;
    background-color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
}

.f-text {
    display: flex;
    gap: 10px;
    align-items: center;

}

.p-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.message-div {
    display: flex;
    justify-content: center;
    background-color: #1da1f2;
    color: white;
    padding: 15px;
    border-radius: 30px;
    width: 30%;
    position: absolute;
    left: 30%;
    font-weight: bold;
    z-index: 99;
    animation: pop 0.5s;
}
@keyframes pop {
    from {
        top: -999px;
    }

    to {
        top: 10px;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .others {
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 10px;
        padding: 10px 30px;
        text-align: start;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
    }

    .follow-id {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .follow-btn {
        color: white;
        background-color: black;
        border: none;
        padding: 8px 16px;
        border-radius: 30px;
        font-weight: bold;
    }

    .f-text {
        display: flex;
        gap: 10px;
        align-items: center;

    }

    .p-photo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .message-div {
        position: absolute;
        left: 50%;
        top: 3%;
        width: 50%;
        transform: translate(-50%, -50%);
        background-color: #1DA1F2;
        color: white;
        padding: 15px;
        z-index: 999;
        text-align: center;
    }
}